#headerText{
    text-align: center;
    color: white;
    background-color: #CC0000;
    margin:0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}
#button{
    display: flex;
    justify-content: center;
}
#pokemonImage{ /* applied to one div*/
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-top: 50px;
    border: 10px solid black;
}
#pokemonName{
    display: grid;
    justify-content: center;
    height: 10px;
}
#errorMessage{
    display: grid;
    justify-content: center;
}
